/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
    font-size: 15px;
}

/*Common*/
ul {
    list-style-type: none;
}

.d-flex {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

i {
    padding: 0px 5px;
}

img {
    display: block;
}

.btn {
    background-color: #0061ff;
    color: #fff;
    padding: 5px 15px;
}
.btn:hover{
    background-color:  hwb(217 18% 2%);
}
.info-piano i {
    color: #0061ff;
}

.info-piano li,
.descrizione p {
    display: flex;
}

/*Header*/
header {
    position: relative;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;

}

.logo,
.nav-buttons {
    padding: 20px 15px;
}

.logo img {
    width: 130px;

}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    transition: border-color 0.3s ease;
    padding: 21px 0;
}

.nav-links a:hover {
    border-bottom: 4px solid #000000;
}

.nav-buttons {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-buttons a {
    text-decoration: none;
}

/*Main*/
main .container-jumbotron {
    background-color: #b4d0e6;
    padding-top: 90px;
}

.text {
    flex-direction: column;
}
.text .btn a{
    color: #ffffff;
}
.info {
    padding-top: 80px;
    font-size: 20px;
}

.jumbotron {
    position: relative;
    top: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.jumbotron h1 {
    font-size: 80px;
}

.jumbo-img img {
    max-width: 800px;
}

main .btn {
    width: fit-content;
    margin: 30px 0px;
    padding: 15px;
}

.arrow {
    margin-top: auto;
    padding: 25px 0;
    font-size: 50px;
}

/*Container-Business*/
main .container-pianibusiness {
    max-width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 150px 0px;
}

.container-scelte {
    align-items: stretch;
    gap: 55px
}

.scelte {
    margin-top: 60px;
    gap: 5px;
}

main .cerchio {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: 8px solid blue;
    border-radius: 50%;
}

main .cerchio-off {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
}

main .container-card {
    padding: 60px 0;
    ;
    display: flex;
    justify-content: space-between;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 0px 0px 0px;
    gap: 50px;
}

.col {
    width: calc(100% / 3 - 100px / 3);
    display: flex;
    flex-direction: column;
}

.top-card p {
    text-align: center;
    border: 1px solid gray;
    padding: 15px 0px;
}

.team .border {
    text-align: center;
    padding: 15px 0px;

    border-bottom: 1px solid gray;

}
.team .btn a{
    color:white;
}
.bottom-card {
    border: 1px solid gray;
    padding: 0 30px;
    flex-grow: 1;
    flex-direction: column;
}
.bottom-card .btn a{
    color: white;
    text-decoration: none;
}
.pacchetto {
    margin-top: 40px;
}

.pacchetto>p {
    padding-top: 15px
}

.descrizione {
    margin-top: 60px;
}

.descrizione>p {
    padding-top: 30px
}

.pacchetto .title {
    font-weight: bold;
    font-size: 27px;
}

.pacchetto .price {
    font-weight: bold;
}

.pacchetto .days {
    color: gray;
}

.bottom-card a {
    color: #0061ff;
    text-decoration: underline;
}

.bottom-card .info-piano {
    padding: 100px 0px;
}

.bottom-card .info-piano ul li {
    padding-top: 30px;
}

.team {
    border: 1px solid gray;

}

.team .info-team {
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}

.title-team p {
    font-weight: bold;
    font-size: 15px;
}

.info-team .btn {
    width: fit-content;
    padding: 15px;
    margin: 0px;
    align-self: flex-start;
    flex-shrink: 0;
}

.info-title {
    padding-top: 60px;
}

.info-title p {
    font-weight: normal;
    font-size: 15px;
}

/*Partner*/
.partner {
    display: flex;
    padding-top: 200px;
    gap: 55px;
}

.partner img {
    max-width: 600px;
}

.partner-text {
    padding: 50px 0px;
}

.partner-text h2,
.partner-text p {
    padding: 10px 0px;
}

.partner-text .btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

/*Operation*/
.operation {
    padding-top: 165px;
}

.operation h2 {
    font-size: 35px;
}

.operation .top-operation-card img {
    max-width: 100%;
}

.operation .col h2 {
    font-size: 18px
}

.bot-operation-card p {
    padding: 40px 0px;
}

/*Last text*/
.last-text {
    width: 600px;
    font-size: 25px;
}

.last-text h2 {
    padding-top: 120px;
    padding-bottom: 80px;
}

.last-text p {
    font-size: 15px;
}

.last-text a {
    text-decoration: underline;
    color: #0061ff;
}

/*Footer*/
footer {
    background-color: #000000;
}

footer .jumbotron {
    display: flex;
    color: #ffffff;
    background-color: #000000;
    justify-content: space-around;
    padding: 100px 0px;
}

footer .jumbotron h2 {
    font-size: 20px;
}

footer .jumbotron ul {
    padding-top: 25px;
}

footer .jumbotron li {
    padding-top: 20px;
}

.lingua {
    color: white;
    padding: 50px 0px 30px 40px;
    width: 1200px;
    margin: 0 auto;

}