/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
    font-size: 15px;
}

/*Common*/
ul {
    list-style-type: none;
}

.d-flex {
    display: flex;
}

a {
    color: black;
}

.btn {
    background-color: #0061ff;
    color: #fff;
    padding: 5px 15px;
}

/*Header*/
header {
    position: relative;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo,
.nav-buttons {
    padding: 20px 15px;
}

.logo img {
    width: 130px;

}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    transition: border-color 0.3s ease;
    padding: 21px 0;
}

.nav-links a:hover {
    border-bottom: 4px solid #000000;
}

.nav-buttons {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-buttons a {
    text-decoration: none;
}

/*Main*/
main {
    background-color: #b4d0e6;
}

main .container-jumbotron {
    max-width: 1200px;
    margin: 0 auto;
}
.text{
    flex-direction: column;
}
.info {
    padding-top: 80px;
    font-size: 20px;
}

.jumbotron h1 {
    font-size: 80px;
}

.jumbo-img img {
    max-width: 800px;
}
main .btn{
    width: fit-content;
    margin: 30px 0px;
    padding: 15px;
}
